.idea
.env-old
.env
.env-laravel
.env-fuelrod
.env-akilimo
.env-fees
.env-fees-prod
backup.env
backup.conf
*.pem
*.zip
.backup
ref2.java
docker-compose.yml
*.load
exports
loads
log.txt
.idea/
vm_cache.db
!compose/services/init/pgsql/01-init.sql
migrate.load
config_inc.php
custom
*deb*
.claude
autobackup.sh
.env-orig