.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea
docker-plumber
.env
database/*
.log
ACAI_sample_processing/*
gisdata/*
currentyield/*
install_pkg.R
log/*
logs/*
data/*
new_db_data/*
backup.env
uploads/
*.pem
Dynatrace-OneAgent-Linux-1.191.239.sh
.vscode
*.sql
*.log
env.text
portainer_data/*
uploads/*
downloads/*
*.zip
