version: '3.1'
name: "fuelrod"

services:
  maria:
    container_name: maria
    image: bitnami/mariadb:11.2.3
    volumes:
      - maria_db:/bitnami/mariadb
      - ${PWD}/db_conf/fuelrod:/etc/mysql/conf.d
      - ${PWD}/db-backup:/usr/fuelrod
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MARIADB_ROOT_HOST : "%"
      MARIADB_ROOT_PASSWORD: ${DB_PASS}
      MARIADB_DATABASE : ${DB_NAME}
      MARIADB_USER : ${DB_USER}
      MARIADB_PASSWORD : ${DB_PASS}
    networks:
     - internal
     - web
      
  adminer:
    container_name: adminer
    hostname: adminer
    image: adminer
    environment:
      ADMINER_DEFAULT_DB_DRIVER: mysql
      ADMINER_DEFAULT_DB_HOST: maria
      ADMINER_DEFAULT_DB_NAME: ${DB_SERVICE}
      ADMINER_DESIGN: ${THEME}
      ADMINER_PLUGINS: ${PLUGINS}
    restart: unless-stopped
    ports:
      - 8080:8080
    networks:
      - web
      - internal

  fuelrod:
    container_name: fuelrod
    image: tsobu/fuelrod-service-api:${FUELROD_TAG}
    hostname: fuelrod
    restart: unless-stopped
    depends_on:
      - maria
    networks:
      - web
      - internal
    ports:
      - 9000:9000
    volumes:
      - ${PWD}/log:/log
      - ${PWD}/uploads:/uploads
      - ${PWD}/downloads:/downloads
    environment:
       SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
       DEBUG: ${SPRING_DEBUG}
       TRACE: ${TRACE}
       DB_CLASS: ${DB_CLASS}
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
       OPT_OUT: ${OPT_OUT}
       NO_QUEUE_WORDS: ${NO_QUEUE_WORDS}
       DUPLICATE_WINDOW: ${DUPLICATE_WINDOW}
       DEFAULT_SENDER: ${DEFAULT_SENDER}
       SMS_API_USER: ${SMS_API_USER}
       SMS_API_KEY: ${SMS_API_KEY}
       SMS_API_USER_B: ${SMS_API_USER_B}
       SMS_API_KEY_B: ${SMS_API_KEY_B}
       TEXT_SMS_API_KEY: ${TEXT_SMS_API_KEY}
       PUSH_BULLET_KEY: ${PUSH_BULLET_KEY}
       JWT_SECRET: ${JWT_SECRET}
       JWT_TOKEN_VALIDITY: ${JWT_TOKEN_VALIDITY}
       JWT_REFRESH_TOKEN_VALIDITY: ${JWT_REFRESH_TOKEN_VALIDITY}
       JAVA_OPTS: -Xmx512M -Xms512M

  migration:
    image: tsobu/fuelrod-migration:${FUELROD_TAG}
    container_name: fuelrod-migration
    restart: "no"
    depends_on:
      - maria
    networks:
      - internal
    volumes:
      - ${PWD}/log:/log
    environment:
       SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
       DB_CLASS: ${DB_CLASS}
       DEBUG: ${SPRING_DEBUG}
       TRACE: ${TRACE}
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
       CLEAR_CHECKSUM: ${CLEAR_CHECKSUM}
  
  portal:
    image: tsobu/fuelrod-sms-portal:${PORTAL_TAG}
    hostname: portal
    container_name: portal
    restart: unless-stopped
    depends_on:
      - fuelrod
    ports:
      - 3004:80
    networks:
      - web
      - internal

  
  legacy:
    image: tsobu/fuelrod-legacy-portal:${LEGACY_PORTAL}
    hostname: portal-legacy
    container_name: portal-legacy
    restart: unless-stopped
    depends_on:
      - fuelrod
    ports:
      - 3005:80
    networks:
      - web
      - internal

# AKILIMO SECTION
  use-uptake:
    container_name: use-uptake
    hostname: use-uptake
    image: iita/use-uptake:1.0.0
    restart: unless-stopped
    ports:
      - 4242:4242
    networks:
      - web
      - internal
      
  akilimo:
      container_name: akilimo-api
      image: iita/akilimo-service:${AKILIMO_VERSION_TAG}
      restart: unless-stopped
      ports:
        - 8098:8098
        - 8099:8098
      volumes:
        - ${PWD}/log:/log
        - /mnt/extra_storage/ona_data:/mnt/extra_storage/ona_data
      environment:
        - DEBUG=${SPRING_DEBUG}
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
        - DB_URL=${AKILIMO_DB_URL}
        - DB_USER=${AKILIMO_USER}
        - DB_PASS=${AKILIMO_DB_PASS}
        - SMS_USER=${SMS_USER}
        - SMS_PASS=${SMS_PASS}
        - SMS_TOKEN=${SMS_TOKEN}
        - PLUMBER_BASE=${PLUMBER_BASE}
        - COMPUTE_NG=${COMPUTE_NG}
        - COMPUTE_TZ=${COMPUTE_TZ}
        - VERIFY_CERT=${VERIFY_CERT}
        - TZS_USD_RATE=${TZS_USD}
        - NGN_USD=${NGN_USD}
        - KES_USD=${KES_USD}
        - RATE_TYPE=${RATE_TYPE}
        - RATE_ENABLED=${RATE_ENABLED}
        - MAX_REQUESTS=${MAX_REQUESTS}
        - OUTPUT_PATH=${OUTPUT_PATH}
      depends_on:
        - maria
      networks:
        - web
        - internal

  akilimo-migration:
    container_name: akilimo-migration
    image: iita/akilimo-service-migration:${AKILIMO_VERSION_TAG}
    restart: "no"
    volumes:
      - ${PWD}/log:/log
    environment:
      - DEBUG=${SPRING_DEBUG}
      - DB_URL=${AKILIMO_DB_URL}
      - DB_USER=${AKILIMO_USER}
      - DB_PASS=${AKILIMO_DB_PASS}
      - CLEAR_CHECKSUM=${CLEAR_CHECKSUM}
    depends_on:
      - maria
    networks:
      - web
      - internal
  rya:
    container_name: rya
    image: iita/rya-api:latest
    ports:
      - 3000:80
    restart: unless-stopped

  akilimo-compute:
    container_name: akilimo-compute
    image: iita/akilimo-compute:3.0.0
    ports:
      - 8090:8090
    volumes:
      - /home/akilimo/projects/akilimo_recommendation:/home/akilimo/projects/akilimo_recommendation:rw
    restart: unless-stopped
    depends_on:
     - akilimo

  ana-django:
    container_name: ana-django
    image: iita/ana-dashboard:${ANA_TAG:-latest}
    volumes:
      - ./static:/var/www/static
    environment:
        SECRET_KEY: ${ANA_SECRET_kEY}
        DJANGO_DEBUG: ${DJANGO_DEBUG}
        ALLOWED_HOSTS: ${ALLOWED_HOSTS}
        CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
    restart: unless-stopped
    networks:
      - internal

  ana-dashboard:
    container_name: ana-dashboard
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/var/www/static/static:ro
    depends_on:
      - ana-django
    networks:
      - web
      - internal

  # metabase:
  #   container_name: metabase
  #   hostname: metabase
  #   image: metabase/metabase
  #   restart: unless-stopped
  #   ports:
  #     - 3006:3000
  #   volumes:
  #     - metabase-data:/metabase-data
  #   networks:
  #     - web
  #     - internal

#AGWISE SECTON
  postgis:
    container_name: postgis
    hostname: postgis
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_DB: agwise_db
      POSTGRES_PASSWORD: ${PG_PASS}
    volumes:
      - agwise-pg:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - internal
      - web

  pgadmin:
      container_name: pgadmin
      hostname: pgadmin
      image: dpage/pgadmin4
      environment:
        PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_EMAIL:-pgadmin@munywele.co.ke}
        PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIN_PASS}
        PGADMIN_CONFIG_SERVER_MODE: 'True'
        PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: 'True'
        PGADMIN_CONFIG_LOGIN_BANNER: '"Authorised users only!"'
      volumes:
        - pg-admin:/var/lib/pgadmin

      ports:
        - "${PGADMIN_PORT:-5050}:80"
      networks:
        - web
        - internal
      restart: unless-stopped
      depends_on:
        - postgis

  agwise-potato:
    container_name: agwise-potato
    hostname: agwise-potato
    image: iita/agwise-potato-api:latest
    environment:
      FLASK_ENV: development
      DB_URL: ${AGWISE_DB_URL}
      LOG_LEVEL: ${AGWISE_LOG_LEVEL}
    restart: unless-stopped
    depends_on:
      - maria
    ports:
      - 5000:5000
    networks:
      - web
      - internal
  
  
  
  dozzle:
    container_name: dozzle
    hostname: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    networks:
      - web
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      DOZZLE_HOSTNAME: 'munywele.co.ke'
    ports:
      - 9999:8080


networks:
  internal:
    external: false
  web:
    external: true

volumes:
  maria_db: {}
  agwise-pg: {}
  pg-admin: {}
  metabase-data: {}
