version: '3.3'
services:
  site:
    build: ./flask_app
    container_name: site
    image: app:latest
    restart: always
    ports:
      - 5000:5000
    environment:
      APP_NAME: "Welcome to tsobu api"
  fuelrod:
    container_name: fuelrod
    image: tsobu/fuelrod-api:latest
    restart: always
#    depends_on:
#      - nginx
    ports:
      - 9000:9000
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - DATABASE_URL=${CROP_DATABASE_URL}
      - DATABASE_USERNAME=${CROP_DATABASE_USERNAME}
      - DATABASE_PASSWORD=${CROP_DATABASE_PASSWORD}
      - DEMO_MODE=${DEMO_MODE}
      - VERIFY_CERT=${VERIFY_CERT}
      - MS_WEBHOOK=${MS_WEBHOOK}
      - SMS_SERVICE=${SMS_SERVICE}

  nginx:
    build: ./nginx
    container_name: proxy
#    image: nginx:alpine
    image: tsobu-nginx:latest
    restart: always
    ports:
      - 80:80
      - 443:443
#    volumes:
#      - ./nginx:/etc/nginx/conf.d
#      - ./nginx/nginx.conf /etc/nginx/nginx.conf
    links:
      - site:site
      - fuelrod:fuelrod
  certbot:
    image: certbot/certbot