version: '3'

services:
  maria:
    container_name: maria
    image: bitnami/mariadb:10.9
    volumes:
      - maria_db:/bitnami/mariadb
      - ${PWD}/db_conf/fuelrod:/etc/mysql/conf.d
      - ${PWD}/db-backup:/usr/fuelrod
    restart: "no"
    ports:
      - 3307:3306
    environment:
      MARIADB_ROOT_HOST : "%"
      MARIADB_ROOT_PASSWORD: ${DB_PASS}
      MARIADB_DATABASE : ${DB_NAME}
      MARIADB_USER : ${DB_USER}
      MARIADB_PASSWORD : ${DB_PASS}
    networks:
     - internal
     - web


  adminer:
    container_name: adminer
    hostname: adminer
    image: adminer
    environment:
      ADMINER_DEFAULT_DB_DRIVER: mysql
      ADMINER_DEFAULT_DB_HOST: maria
      ADMINER_DEFAULT_DB_NAME: ${DB_NAME}
      ADMINER_DESIGN: ${THEME}
      ADMINER_PLUGINS: ${PLUGINS}
    restart: on-failure
    networks:
      - web
      - internal

  fuelrod:
    container_name: fuelrod
    image: tsobu/fuelrod-service-api:${SERVICE_TAG}
    hostname: fuelrod
    restart: always
    networks:
      - web
      - internal
    ports:
      - 9000:9000
    volumes:
      - ${PWD}/log:/log
      - ${PWD}/uploads:/uploads
      - ${PWD}/downloads:/downloads
    environment:
       SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
       DEBUG: ${DEBUG}
       TRACE: ${TRACE}
       DB_CLASS: ${DB_CLASS}
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
       OPT_OUT: ${OPT_OUT}
       DUPLICATE_WINDOW: ${DUPLICATE_WINDOW}
       DEFAULT_SENDER: ${DEFAULT_SENDER}
       SMS_API_USER: ${SMS_API_USER}
       SMS_API_KEY: ${SMS_API_KEY}
       JAVA_OPTS: -Xmx512M -Xms512M

  migration:
    image: tsobu/fuelrod-migration:${MIGRATION_TAG}
    container_name: fuelrod-migration
    restart: "no"
    networks:
      - internal
    volumes:
      - ${PWD}/log:/log
    environment:
       SPRING_PROFILES_ACTIVE: ${MIGRATION_PROFILE}
       DB_CLASS: ${DB_CLASS}
       DEBUG: ${DEBUG}
       TRACE: ${TRACE}
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
       CLEAR_CHECKSUM: ${CLEAR_CHECKSUM}
  
  portal:
    image: tsobu/fuelrod-sms-portal:${PORTAL_TAG}
    hostname: portal
    container_name: portal
    restart: on-failure
    depends_on:
      - fuelrod
    ports:
      - 3004:80
    networks:
      - web
      - internal

  
  legacy:
    image: tsobu/fuelrod-legacy-portal:latest
    hostname: portal-legacy
    container_name: portal-legacy
    restart: on-failure
    depends_on:
      - fuelrod
    ports:
      - 3005:80
    networks:
      - web
      - internal

  dozzle:
    container_name: dozzle
    hostname: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    environment:
      DOZZLE_TAILSIZE: 200
      LOGSENE_ENABLED: "false"
    networks:
      - web
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080


networks:
  internal:
    external: false
  web:
    external: true

volumes:
  maria_db: {}
