# version: '3.1'
name: "fuelrod"

include:
  - compose/docker-compose.base.yml
  - compose/services/docker-compose.database.yml
  - compose/services/docker-compose.redis.yml
  #- compose/services/docker-compose.redis-admin.yml
  # - compose/services/docker-compose.fuelrod.yml
  - compose/services/docker-compose.fuelrod-new.yml
  # - compose/services/docker-compose.metabase.yml
  - compose/services/docker-compose.db-admin.yml
  - compose/services/docker-compose.monitor.yml
  - compose/services/docker-compose.mailcatchers.yml
  # - compose/services/docker-compose.n8n.yml

# Optional: You can add service-level extends if needed
# services:
#   some-service:
#     extends:
#       file: docker-compose.base.yml
#       service: base-template