version: '3'

services:
  site:
    container_name: site
    image: app:latest
    restart: always
    ports:
      - 5000:5000
    environment:
      APP_NAME: "Welcome to tsobu api"

  db:
    container_name: db
    image: mysql:8.0.20
    volumes:
      - ${PWD}/mysql-init-files:/docker-entrypoint-initdb.d
      - ${PWD}/db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE}
      MYSQL_USER: ${DATABASE_USERNAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      REMOTE_SQL: ${PWD}/mysql-init-files/init.sql
    networks:
      - internal

  fuelrod:
    container_name: fuelrod
    image: tsobu/fuelrod-api:latest
    restart: always
    depends_on:
      - db
    ports:
      - 9000:9000
    volumes:
      - ${PWD}/log:/log
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DEMO_MODE=${DEMO_MODE}
      - VERIFY_CERT=${VERIFY_CERT}
      - WEBHOOK=${WEBHOOK}
      - SERVICE=${SERVICE}
      - OPT_OUT_CODE=${OPT_OUT_CODE}
      - TEST_NUMBERS=${TEST_NUMBERS}
      - AT_ENDPOINT=${AT_ENDPOINT}
      - AT_AUTH_KEY=${AT_AUTH_KEY}
      - AT_USER_NAME=${AT_USER_NAME}
      - AT_DEFAULT_SENDER=${AT_DEFAULT_SENDER}
      - MS_ENDPOINT=${MS_ENDPOINT}
      - MS_USER_NAME=${MS_USER_NAME}
      - MS_AUTH_KEY=${MS_AUTH_KEY}
      - MS_DEFAULT_SENDER=${MS_DEFAULT_SENDER}
      - UPLOADS_DIR=${UPLOADS_DIR}
      - RATE_TYPE=${RATE_TYPE}
      - ENABLE_RATE_LIMIT=${ENABLE_RATE_LIMIT}
      - RATE_LIMIT=${RATE_LIMIT}
    networks:
      - web
      - internal

  nginx:
    container_name: nginx
    image: nginx:1.15-alpine
    restart: unless-stopped
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    ports:
      - 80:80
      - 443:443
    links:
      - site:site
      - db:db
      - fuelrod:fuelrod
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
  certbot:
    container_name: certbot
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  data:

networks:
  internal:
    external: false
  web:
    external: true
