version: '3'

services:
  maria:
    container_name: maria
    image: bitnami/mariadb:10.9
    volumes:
      - maria_db:/bitnami/mariadb
      - ${PWD}/db_conf/fuelrod:/etc/mysql/conf.d
      - ${PWD}/db-backup:/usr/fuelrod
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MARIADB_ROOT_HOST : "%"
      MARIADB_ROOT_PASSWORD: ${DB_PASS}
      MARIADB_DATABASE : ${DB_NAME}
      MARIADB_USER : ${DB_USER}
      MARIADB_PASSWORD : ${DB_PASS}
    networks:
     - internal
     - web


  adminer:
    container_name: adminer
    hostname: adminer
    image: adminer
    environment:
      ADMINER_DEFAULT_DB_DRIVER: mysql
      ADMINER_DEFAULT_DB_HOST: maria
      ADMINER_DEFAULT_DB_NAME: ${DB_SERVICE}
      ADMINER_DESIGN: ${THEME}
      ADMINER_PLUGINS: ${PLUGINS}
    restart: unless-stopped
    ports:
      - 8080:8080
    networks:
      - web
      - internal

  fuelrod:
    container_name: fuelrod
    image: tsobu/fuelrod-service-api:${FUELROD_TAG}
    hostname: fuelrod
    restart: unless-stopped
    depends_on:
      - maria
    networks:
      - web
      - internal
    ports:
      - 9000:9000
    volumes:
      - ${PWD}/log:/log
      - ${PWD}/uploads:/uploads
      - ${PWD}/downloads:/downloads
    environment:
       SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
       DEBUG: ${DEBUG}
       TRACE: ${TRACE}
       DB_CLASS: ${DB_CLASS}
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
       OPT_OUT: ${OPT_OUT}
       DUPLICATE_WINDOW: ${DUPLICATE_WINDOW}
       DEFAULT_SENDER: ${DEFAULT_SENDER}
       SMS_API_USER: ${SMS_API_USER}
       SMS_API_KEY: ${SMS_API_KEY}
       JWT_SECRET: ${JWT_SECRET}
       JWT_TOKEN_VALIDITY: ${JWT_TOKEN_VALIDITY}
       JWT_REFRESH_TOKEN_VALIDITY: ${JWT_REFRESH_TOKEN_VALIDITY}
       JAVA_OPTS: -Xmx512M -Xms512M

  migration:
    image: tsobu/fuelrod-migration:${FUELROD_TAG}
    container_name: fuelrod-migration
    restart: "no"
    depends_on:
      - maria
    networks:
      - internal
    volumes:
      - ${PWD}/log:/log
    environment:
       SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
       DB_CLASS: ${DB_CLASS}
       DEBUG: ${DEBUG}
       TRACE: ${TRACE}
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
       CLEAR_CHECKSUM: ${CLEAR_CHECKSUM}
  
  portal:
    image: tsobu/fuelrod-sms-portal:${PORTAL_TAG}
    hostname: portal
    container_name: portal
    restart: unless-stopped
    depends_on:
      - fuelrod
    ports:
      - 3004:80
    networks:
      - web
      - internal

  
  legacy:
    image: tsobu/fuelrod-legacy-portal:latest
    hostname: portal-legacy
    container_name: portal-legacy
    restart: unless-stopped
    depends_on:
      - fuelrod
    ports:
      - 3005:80
    networks:
      - web
      - internal

# AKILIMO SECTION
  akilimo:
      container_name: akilimo-api
      image: iita/akilimo-service:${AKILIMO_VERSION_TAG}
      restart: unless-stopped
      ports:
        - 8098:8098
        - 8099:8098
      volumes:
        - ${PWD}/log:/log
        - /mnt/extra_storage/ona_data:/mnt/extra_storage/ona_data
      environment:
        - DEBUG=${DEBUG}
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
        - DB_URL=${AKILIMO_DB_URL}
        - DB_USER=${AKILIMO_USER}
        - DB_PASS=${AKILIMO_DB_PASS}
        - SMS_USER=${SMS_USER}
        - SMS_PASS=${SMS_PASS}
        - SMS_TOKEN=${SMS_TOKEN}
        - PLUMBER_BASE=${PLUMBER_BASE}
        - COMPUTE_NG=${COMPUTE_NG}
        - COMPUTE_TZ=${COMPUTE_TZ}
        - VERIFY_CERT=${VERIFY_CERT}
        - TZS_USD_RATE=${TZS_USD}
        - NGN_USD=${NGN_USD}
        - KES_USD=${KES_USD}
        - RATE_TYPE=${RATE_TYPE}
        - RATE_ENABLED=${RATE_ENABLED}
        - MAX_REQUESTS=${MAX_REQUESTS}
        - OUTPUT_PATH=${OUTPUT_PATH}
      depends_on:
        - maria
      networks:
        - web
        - internal

  akilimo-migration:
    container_name: akilimo-migration
    image: iita/akilimo-service-migration:${AKILIMO_VERSION_TAG}
    restart: "no"
    volumes:
      - ${PWD}/log:/log
    environment:
      - DEBUG=${DEBUG}
      - DB_URL=${AKILIMO_DB_URL}
      - DB_USER=${AKILIMO_USER}
      - DB_PASS=${AKILIMO_DB_PASS}
      - CLEAR_CHECKSUM=${CLEAR_CHECKSUM}
    depends_on:
      - maria
    networks:
      - web
      - internal
  rya:
    container_name: rya
    image: iita/rya-api:latest
    ports:
      - 3000:80
    restart: unless-stopped

  akilimo-compute:
    container_name: akilimo-compute
    image: iita/akilimo-compute:3.0.0
    ports:
      - 8090:8090
    volumes:
      - /home/akilimo/projects/akilimo_recommendation:/home/akilimo/projects/akilimo_recommendation:rw
    restart: unless-stopped

  metabase:
    container_name: metabase
    hostname: metabase
    image: metabase/metabase
    restart: unless-stopped
    ports:
      - "127.0.0.1:3006:3000"
    volumes:
      - metabase-data:/metabase-data
    networks:
      - web
      - internal

  dozzle:
    container_name: dozzle
    hostname: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    networks:
      - web
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080


networks:
  internal:
    external: false
  web:
    external: true

volumes:
  maria_db: {}
  metabase-data: {}
