version: '3.3'

services:       
  zookeeper:
    container_name: zookeper
    image: wurstmeister/zookeeper
    ports:
      - 2181:2181
    # environment:
    #   ZOOKEEPER_SERVER_ID: 1
    #   ZOOKEEPER_CLIENT_PORT: 2181
    #   ZOOKEEPER_TICK_TIME: 2000
    #   ZOOKEEPER_INIT_LIMIT: 5
    #   ZOOKEEPER_SYNC_LIMIT: 2
    volumes:
      - ./zookeeper/data:/var/lib/zookeeper/data
      - ./zookeeper/log:/var/lib/zookeeper/log
  kafka:
    image: wurstmeister/kafka
    #    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LOG_RETENTION_HOURS: 1
      KAFKA_ADVERTISED_HOST_NAME: ${KAFKA_HOST}
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: ${KAFKA_CREATE_TOPICS}
      KAFKA_CREATE_TOPICS: ${KAFKA_TOPICS}
      KAFKA_LOG_DIRS:  ${KAFKA_LOG_DIRS}
    depends_on:
      - zookeeper
    volumes:
      # - /var/run/docker.sock:/var/run/docker.sock
      - ./kafka:/kafka
  kafka-topics-ui:
      ports:
          - '8000:8000'
      environment:
          - 'KAFKA_REST_PROXY_URL=http://kafka.rest.proxy.url'
      image: landoop/kafka-topics-ui
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    environment:
      DOZZLE_TAILSIZE: 300
    networks:
      - web
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080

networks:
  internal:
    external: false
  web:
    external: true
