version: '2.2'

services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: unless-stopped
    volumes:
      - ./nginx:/etc/nginx/conf.d
      #- ./nginx:/etc/nginx
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - web
      - internal
    ports:
      - 80:80
      - 443:443
    links:
      - portal:portal
      - fuelrod:fuelrod
      - blog:blog
    mem_limit: 120m
    # command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    container_name: certbot
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - internal
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"  
  
  db:
    container_name: db
    image: mysql:8.0.21
    volumes:
      - ${PWD}/mysql-init-files/fuelrod:/docker-entrypoint-initdb.d
      - ${PWD}/db_data/fuelrod_db:/var/lib/mysql
      - ${PWD}/db_conf/fuelrod:/etc/mysql/conf.d
    restart: always
    environment:
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      REMOTE_SQL: ${PWD}/mysql-init-files/fuelrod/init.sql
    networks:
      - internal
  
  db2:
    container_name: db2
    image: mysql:5.7
    volumes:
      - ${PWD}/mysql-init-files/blog:/docker-entrypoint-initdb.d
      - ${PWD}/db_data/blog_db:/var/lib/mysql
      - ${PWD}/db_conf/blog:/etc/mysql/conf.d
    restart: always
    environment:
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${BLOG_DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      REMOTE_SQL: ${PWD}/mysql-init-files/blog/init.sql
    networks:
      - internal

  adminer:
    container_name: adminer
    image: adminer
    environment:
      ADMINER_DEFAULT_DB_DRIVER: mysql
      ADMINER_DEFAULT_DB_HOST: db
      ADMINER_DEFAULT_DB_NAME: ${DB_NAME}
      ADMINER_DESIGN: ${THEME}
      ADMINER_PLUGINS: ${PLUGINS}
    restart: on-failure
    links:
      - db:mysql
      - db2:mysql
    ports:
      - 9080:8080
    networks:
      - web
      - internal
    depends_on:
      - db

  fuelrod:
    container_name: fuelrod
    image: tsobu/fuelrod-service-api:latest
    hostname: fuelrod
    restart: always
    depends_on:
      - db
    networks:
      - web
      - internal
    ports:
      - 9000:9000
    volumes:
      - ${PWD}/log:/log
    environment:
       SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
       OPT_OUT: ${OPT_OUT}
       DUPLICATE_WINDOW: ${DUPLICATE_WINDOW}

  migrations:
    container_name: fuelrod-migrations
    hostname: fuelrod-migrations
    image: tsobu/fuelrod-migration:latest
    restart: on-failure
    networks:
      - internal
    volumes:
      - ${PWD}/log:/log
    environment:
       DB_URL: ${DB_URL}
       DB_USER: ${DB_USER}
       DB_PASS: ${DB_PASS}
  
  portal:
    image: tsobu/fuelrod-portal:latest
    hostname: portal
    container_name: portal
    restart: on-failure
    depends_on:
      - fuelrod
    ports:
      - 5000:5000
    networks:
      - web
      - internal
    mem_limit: 300M
  
  blog:
    image: wordpress:5.1.1-fpm-alpine
    hostname: blog
    container_name: blog
    restart: on-failure
    ports:
      - 2638:80
    depends_on:
      - db2
    environment:
      WORDPRESS_DB_HOST: db2
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASS}
      WORDPRESS_DB_NAME: ${BLOG_DB_NAME}
    volumes:
      - ${PWD}/wordpress:/var/www/html
    networks:
      - web
      - internal

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    environment:
      DOZZLE_TAILSIZE: 200
      LOGSENE_ENABLED: "false"
    networks:
      - web
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080
    mem_limit: 100m
    
  # portainer:
  #     image: portainer/portainer-ce    
  #     container_name: portainer
  #     restart: always
  #     networks:
  #       - web
  #       - internal
  #     volumes:
  #         - '/var/run/docker.sock:/var/run/docker.sock'
  #         - ${PWD}/portainer_data:/portainer_data
  #     ports:
  #     - '8010:8000'
  #     - '9010:9000'

backup:
  image: aveltens/wordpress-backup
  restart: always
  volumes:
    - ${PWD}/wp_backup:/backups
    - ${PWD}/wordpress:/var/www/html
  depends_on:
    - blog
    - db2
  environment:
    BACKUP_TIME: "*/2 * * * *"
    CLEANUP_OLDER_THAN: 1
    MYSQL_ENV_MYSQL_DATABASE: db2
    MYSQL_ENV_MYSQL_USER: ${DB_USER}
    MYSQL_ENV_MYSQL_PASSWORD: ${DB_PASS}
    MYSQL_PORT_3306_TCP_PORT: 3306

networks:
  internal:
    external: false
  web:
    external: true

volumes:
  portainer_data:
  ghost-volume: