version: '3.3'
services:
  site:
    container_name: site
    image: app:latest
    restart: always
    ports:
      - 5000:5000
    environment:
      APP_NAME: "Welcom to tsobu api"
  fuelrod:
    container_name: fuelrod
    image: tsobu/fuelrod-api:latest
    restart: always
    ports:
      - 9000:9000
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - DATABASE_URL=${CROP_DATABASE_URL}
      - DATABASE_USERNAME=${CROP_DATABASE_USERNAME}
      - DATABASE_PASSWORD=${CROP_DATABASE_PASSWORD}
      - DEMO_MODE=${DEMO_MODE}
      - VERIFY_CERT=${VERIFY_CERT}
      - MS_WEBHOOK=${MS_WEBHOOK}
      - SMS_SERVICE=${SMS_SERVICE}

  nginx:
    container_name: proxy
    image: my-nginx:latest
    restart: always
    ports:
      - 80:80
    links:
      - site:site
      - fuelrod:fuelrod