LOAD DATABASE
     FROM mysql://user:pass@127.0.0.1:3306/db
     INTO postgresql://user:pass@127.0.0.1:5432/db

 WITH
     include drop,
     create tables,
     create indexes,
     reset sequences,
     prefetch rows = 500,
     batch rows = 500,
     batch size = 10 MB,
     workers = 2,
     concurrency = 1

 CAST
     type tinyint when (= precision 1) to boolean drop typemod,
     type datetime to timestamptz drop default drop not null using zero-dates-to-null,
     type enum to text drop typemod

 SET
     work_mem to '128MB',
     maintenance_work_mem to '256MB',
     search_path to 'public'

 ALTER SCHEMA 'db' RENAME TO 'public'
;