services:
  adminer:
    container_name: adminer
    hostname: adminer
    image: adminer
    environment:
      ADMINER_DEFAULT_DB_DRIVER: mysql
      ADMINER_DEFAULT_DB_HOST: maria
      ADMINER_DEFAULT_DB_NAME: ${DB_SERVICE}
      ADMINER_DESIGN: ${THEME}
      ADMINER_PLUGINS: ${PLUGINS}
    restart: unless-stopped
    ports:
      - 8080:8080
    networks:
      - web
      - internal

  # postgis:
  #   container_name: postgis
  #   hostname: postgis
  #   image: postgis/postgis:16-3.4
  #   environment:
  #     POSTGRES_DB: agwise_db
  #     POSTGRES_PASSWORD: ${PG_PASS}
  #   volumes:
  #   - agwise-pg:/var/lib/postgresql/data
  #   networks:
  #     - internal

  # pgadmin:
  #   container_name: pgadmin
  #   hostname: pgadmin
  #   image: dpage/pgadmin4
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_EMAIL:-pgadmin@munywele.co.ke}
  #     PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIN_PASS}
  #     PGADMIN_CONFIG_SERVER_MODE: 'True'
  #     PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: 'True'
  #     PGADMIN_CONFIG_LOGIN_BANNER: '"Authorised users only!"'
  #   volumes:
  #     - pg-admin:/var/lib/pgadmin
  #   ports:
  #     - "${PGADMIN_PORT:-5050}:80"
  #   networks:
  #     - web
  #     - internal
  #   restart: unless-stopped
  #   depends_on:
  #     - postgis