services:
  maria:
    container_name: maria
    image: bitnami/mariadb:11.6.2
    volumes:
      - maria_db:/bitnami/mariadb
      - ${PWD}/db_conf/fuelrod:/etc/mysql/conf.d
      - ${PWD}/db-backup:/usr/fuelrod
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MARIADB_ROOT_HOST : "%"
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE : ${DB_DATABASE}
      MARIADB_USER : ${DB_USERNAME}
      MARIADB_PASSWORD : ${DB_PASSWORD}
    networks:
     - internal
     - web
    