name: "fuelrod"

services:

  fuelrod:
    container_name: fuelrod
    image: masgeek/fuelrod-laravel:${FUELROD_TAG:-latest}
    hostname: fuelrod
    restart: unless-stopped
    env_file:
      - ${PWD}/.env
    environment:
      - QUEUE_WORKERS=3
      - QUEUE_MAX_TRIES=3
      - QUEUE_TIMEOUT=3600
      - QUEUE_SLEEP=3
      - PHP_FPM_PM_MAX_CHILDREN=10
      - PHP_FPM_PM_START_SERVERS=2
      - PHP_FPM_PM_MIN_SPARE_SERVERS=1
      - PHP_FPM_PM_MAX_SPARE_SERVERS=3
    volumes:
    # - ${PWD}/:/var/www/html
    # - /var/www/html/node_modules
    # - /var/www/html/vendor
    # - ${PWD}/log/laravel:/var/www/html/storage/logs
    - ${PWD}/log/supervisor:/var/log/supervisor
    - ${PWD}/docker/supervisor/conf.d:/etc/supervisor/conf.d
    ports:
      - "9000:80"
    depends_on:
      - maria
      - redis
    networks:
      - web
      - internal

  portal:
    image: tsobu/fuelrod-sms-portal:${PORTAL_TAG:-latest}
    hostname: portal
    container_name: portal
    restart: unless-stopped
    depends_on:
      - fuelrod
    ports:
      - 3004:80
    networks:
      - web
      - internal

  legacy:
    image: tsobu/fuelrod-legacy-portal:${LEGACY_PORTAL}
    hostname: legacy
    container_name: legacy
    restart: unless-stopped
    depends_on:
      - fuelrod
    ports:
      - 3005:80
    networks:
      - web
      - internal