name: 'portainer'

services:
  portainer:
      image: portainer/portainer-ce:2.30.0   
      container_name: portainer
      hostname: portainer
      restart: unless-stopped
      networks:
        - web
        - internal
      volumes:
          - '/var/run/docker.sock:/var/run/docker.sock'
          - portainer:/data
      ports:
      - '8010:8000'
      - '9010:9000'

networks:
  internal:
    external: false
  web:
    external: true

volumes:
  portainer: {}
