services:

  redis:
    image: bitnami/redis:7.4.1
    container_name: redis
    restart: unless-stopped
    ports:
        - "6379:6379"
    environment:
        REDIS_PASSWORD: ${REDIS_PASSWORD:?error}
    networks:
      - internal
      
  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    hostname: redisinsight
    restart: unless-stopped
    ports:
      - "8081:8001"
    user: redis
    networks:
      - internal
      - web