services:

  redis:
    image: bitnami/redis:7.4.2
    container_name: redis
    restart: unless-stopped
    ports:
        - "6379:6379"
    environment:
        REDIS_PASSWORD: ${REDIS_PASSWORD:?error}
    networks:
      - internal