# name: "fuelrod"

networks:
  # default:
  #   name: default
  internal:
    name: internal
    external: false
  web:
    name: web
    external: true

volumes:
  maria_db:
    driver: local
    name: fuelrod_maria_db

  agwise-pg:
    driver: local
    name: agwise-pg

  pg-admin:
    driver: local
    name: pg-admin

  drone-ci:
    driver: local
    name: drone-ci

  metabase-data:
    driver: local
    name: metabase

  redis-data:
    driver: local
    name: redis-data

  redis-insight:
    driver: local
    name: redis-insight

  smtp:
    driver: local
    name: smtp-dev