[mysqld]
character-set-server = utf8
collation-server = utf8_unicode_ci
skip-character-set-client-handshake
global max_connections=200
slow-query-log=1
slow-query-log-file= /var/lib/mysql/mysql-slow-query.log
long-query-time=1
tmp_table_size=128M
max_heap_table_size=128M
skip-name-resolve
uery_cache_size=64M